/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: white;
  font-family: Whitney, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* end of reset */

body {
  align-items: center;
  background-color: #25252b;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    .nav-headline {
      margin: 1rem;
      font-size: 2rem;
      &:hover {
        cursor: default;
      }
    }

    .professional-links {
      display: flex;
      justify-content: space-between;
      width: 10rem;
    }

    .professional-link {
      height: 2rem;
      filter: brightness(60%);
      transition: 1s;
      &:hover {
        cursor: pointer;
        filter: none;
        transition: 0.2s;
      }
    }
  }

  .hi-scores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    &:hover {
      cursor: default;
    }
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    ul {
      margin: 0 auto;
      li {
        margin: 1rem;
      }
    }
  }

  .controls {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .arrow-keys {
      filter: brightness(80%);
      height: 8rem;
    }
    .space-key {
      filter: brightness(80%);
      height: 3rem;
      width: 8rem;
    }
  }

  .sound-toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    #sound,
    #no-sound {
      filter: brightness(80%);
      margin: 0 1rem;
      max-height: 2rem;
      transition: 1s;
      &:hover {
        cursor: pointer;
        filter: none;
        transition: 0.2s;
      }
    }
  }
}

.canvas-container {
  min-height: 700px;
  min-width: 450px;
  position: relative;
  canvas {
    height: 700px;
    width: 450px;
    position: absolute;
  }
  #l0 {
    z-index: 1;
  }
  #l1 {
    z-index: 2;
  }
  #l2 {
    z-index: 3;
  }
  #l3 {
    z-index: 4;
  }
  #l4 {
    z-index: 5;
  }
  #l5 {
    z-index: 1;
  }
  #l6 {
    z-index: 7;
  }
  #l7 {
    z-index: 8;
  }
  #game-canvas {
    z-index: 9;
  }
}
